{% extends "AdminUserBundle::layout.html.twig" %}

{% block title "Social Maps - Place List " %}

{% block content %}
<link rel="stylesheet" href="{{ asset('bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}" type="text/css"
      media="all"/>
<a href="{{ path('admin_user_logoutpage') }}">Logout</a>
<table class="user_list" align="right">
    <tr>
        <td>
            <form action="{{ path('place_search_result', {'page': 1}) }}" method="POST" id="search_keyword">
                {{ form_rest(form) }}

            </form>
        </td>
    </tr>
</table>
<table class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
        <th>Place ID</th>

        <th>Category</th>
        <th>Title</th>
        <th>Description</th>
        <th>Location</th>
        <th>Popular</th>
        <th class="actionHeader">Actions</th>
    </tr>
    </thead>

    {% if pager|length > 0 %}

    <tbody>
    {% for place in entities %}
    <tr>
        <td><a href="{{ path('manage_place_edit', {'id': place.id}) }}">{{ place.id }}</a></td>
        <td>{{ place.category }}</td>
        <td>{{ place.title }}</td>
        <td>{{ place.description }}</td>
        <td>{% for key,value in place.location %}
            *{{ value }}
            {% endfor %}</td>
        <td>{{ place.likes| length }} likes</td>

        <td style="width: 60px;">
            <div class="actions">
                <a title="Edit" class="btn btn-primary btn-mini edit-item"
                   href="{{ path('manage_place_edit', {'id': place.id}) }}"><i class="icon-edit icon-white"></i>Edit</a>


            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="6">
            <div class="pagerfanta">
                {{ pagerfanta(pager, 'default') }}
            </div>
        </td>
    </tr>
    </tfoot>
    {% else %}
    <tfoot>
    <tr>
        <td colspan="6">
            <div class="pagerfanta">
                No Places Found.
            </div>
        </td>
    </tr>
    </tfoot>
    {% endif %}
</table>
{% endblock %}
