!!!
%html
  %head
    %title Hello
    - $url = $baseUrl . '/assets/stylesheets/newsfeed.css'
    %link(rel='stylesheet' href=$url)

    %script(type='text/javascript')
      function likedThis() { alert('oppss!'); }

%body
  %ul(style='width:320px')
    - foreach($activities as $activity)
      %li
        - if ($activity->getObjectType() === 'photo')
          - $photo = $photoRepo->find($activity->getObjectId())

          .photo
            .row
              .avatar
                %img(src=$photo->getOwner()->getAvatar())
              .name
                %h4= $photo->getOwner()->getName()
              .time
                11m ago
              .comment
                = stripcslashes($photo->getDescription())

            .row(style='height:110px; margin-top: 5px;')
              .image
                %img(src= $photo->getUriMedium())
              .icon.icon_zoom

        - else
          .activity
            .row
              .avatar
                %img(src=$activity->getOwner()->getAvatar())
              .name
                %h4= $activity->getOwner()->getName()
              .time
                11m ago

              .comment
                - if ($activity->getOwner()->getId() == $currentUser->getId())
                  - if ($activity->getObjectType() === 'geotag')
                    - $geotag = $geotagRepo->find($activity->getObjectId())

                    has tagged "
                    %strong= stripcslashes($activity->getTitle())
                    "
                    at
                    %small= $geotag->getLocation()->getAddress()
                    


  