!!!
%html
  %head
    %title Hello

    - $updateTime = filemtime($baseDir . '/assets/stylesheets/newsfeed.css')
    - $url = $baseUrl . '/assets/stylesheets/newsfeed.css?' . $updateTime
    %link(rel='stylesheet' href=$url)

%body
  %ul(style='width:320px')
    - foreach($activities as $activity)
      - $liked = $activityRepo->hasLiked($activity, $currentUser) ? 'true' : 'false'
      - $rowLikesId = $activity->getId() . '_likes'
      - $rowCommentsId = $activity->getId() . '_comments'

      %li
        - if ($activity->getObjectType() === 'photo')
          - $photo = $photoRepo->find($activity->getObjectId())

          .photo
            .row
              .avatar
                %img(src=$photo->getOwner()->getAvatar())
              .name
                %h4= $photo->getOwner()->getName()
              .time
                11m ago
              .comment
                = stripcslashes($photo->getDescription())

            .row(style='height:110px; margin-top: 5px;')
              .image
                %img(src= $photo->getUriMedium())
              .icon.icon_zoom

            .row
              .buttons
                %a.link_like.enabled(href='javascript:;' data-objectid=$activity->getId()
                                     data-objecttype=$activity->getObjectType()
                                     data-liked=$liked data-likes=$rowLikesId)
                  = $activity->getLikesCount()
                  - if ($activity->getLikesCount() > 1)
                    Likes
                  - else
                    Like
                &nbsp;
                %a.link_comment.enabled(href='javascript:;' data-objectid=$activity->getId()
                                        data-objecttype=$activity->getObjectType())
                  = $activity->getCommentsCount() . ''
                  Comments

            .row.list_of_likes(id=$rowLikesId style='display:none')


        - else
          .activity
            .row
              .avatar
                %img(src=$activity->getOwner()->getAvatar())
              .name
                %h4= $activity->getOwner()->getName()
              .time
                11m ago

              .comment
                - if ($activity->getOwner()->getId() == $currentUser->getId())
                  - if ($activity->getObjectType() === 'geotag')
                    - $geotag = $geotagRepo->find($activity->getObjectId())

                    has tagged "
                    %strong= stripcslashes($activity->getTitle())
                    "
                    at
                    %small= $geotag->getLocation()->getAddress()

            .row
              .buttons
                %a.link_like.enabled(href='javascript:;' data-objectid=$activity->getId() data-objecttype=$activity->getObjectType())
                  = $activity->getLikesCount()
                  Likes
                &nbsp;
                %a.link_comment.enabled(href='javascript:;' data-objectid=$activity->getId() data-objecttype=$activity->getObjectType())
                  = $activity->getCommentsCount()
                  Comments


  - $jqScriptUrl = $baseUrl . '/assets/javascripts/jquery-1.8.3.min.js'
  %script(type='text/javascript' src=$jqScriptUrl)

  - $jsUpdateTime = filemtime($baseDir . '/assets/javascripts/newsfeed.js')
  - $scriptUrl = $baseUrl . '/assets/javascripts/newsfeed.js?' . $jsUpdateTime
  %script(type='text/javascript' src=$scriptUrl)

  %script(type='text/javascript')
    window.appInst.setBaseUrl("#{$baseUrl}");
    window.appInst.setAuthToken("#{$authToken}");