<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %} Social Maps Admin {% endblock %}</title>
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/adminuser/css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/adminuser/css/form.css') }}"/>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le javascript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ asset('bundles/adminuser/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/adminuser/js/bootstrap.min.js') }}"></script>
</head>
<body>
<div id="symfony-wrapper">
    <div id="symfony-header">
        <img src="{{ asset('bundles/adminuser/img/logo.png') }}" alt="Symfony logo"/>

    </div>

    {% block content_header %}

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">Social Maps Admin</a>

                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="{{ path('adminuser_userlist_paginated', {'page': 1}) }}">Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('adminuser_userlist_paginated', {'page': 1}) }}">User List</a></li>
                                <li><a href="{{ path('manage_place_paginated', {'page': 1}) }}">Place List</a></li>
                                <li><a href="{{ path('manage_custom_place_paginated', {'page': 1}) }}">Custom Place
                                    List</a></li>
                                <li><a href="{{ path('add_place') }}">Add Place</a></li>
                                <li><a href="{{ path('manage_photo_paging', {'page': 1}) }}">Manage Photos</a></li>
                                <li><a href="{{ path('manage_event_paging', {'page': 1}) }}">Manage Events</a></li>
                                <li><a href="{{ path('user_block_list_paging', {'page': 1}) }}">Block User</a></li>

                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-form pull-right" style="list-style:none;">
                        <li>{% if app.session.get('user') %}
                            <a href="{{ path('admin_user_logoutpage') }}">Logout </a>{% endif %}</li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
    {% endblock %}

    <div class="container">
        {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
        {% endfor %}
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>&copy; Social Maps 2012</p>
    </footer>
</div>

</body>
</html>
